:root {
    --progress-bar: calc(100vw / 12);

    --red: #F27281;
    --yellow: #F7D88B;
    --blue: #ABDFEB;
    --green: #7BD092;
    --main-bg-color: #f6f6f6;
    --main-bg-color-dark: #f1f1f1;
    --border-color: #d3d3d3;
    
    --box-shadow: 2px 3px 5px #dbdbdb, -2px 3px 5px #dbdbdb;
}

a {
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    padding: 4px 8px;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

img[src$="png"] {
    width: 60px;
}

img[src*="leaf"] {
    width: 45px;
}

.bird, .chicken, .bee, .bear {
    border-radius: 50%;
}

.bird {
    background-color: #f1d6df;
}

.chicken {
    background-color: #eac8bc;
}

.bee {
    background-color: #f0e8d1;
}

.bear {
    background-color: #f6e9da;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr auto;
}

/* ========================================================================== */
/* Selectors for the header start here.
/* ========================================================================== */

.header {
    padding: 8px 0;

    position: sticky;
    top: 0;

    background-color: white;
    border-bottom: 1px solid var(--border-color);

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img[src$="png"] {
    padding: 12px;
}

/* Selectors for the left side of the header start here. */

.header .left {
    padding-left: 16px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.header .left img[src$="svg"] {
    width: 35px;
}

/* Selectors for the right side of the header start here. */

.header .right {
    padding-right: 16px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.header .search,
.header .alerts,
.header .profile {
    display: flex;
    gap: 8px;
}

.header .right input {
    padding-left: 8px;
    
    background-color: var(--main-bg-color-dark);
    border: none;
    border-radius: 32px;
}

/* ========================================================================== */
/* Selectors for the sidebar start here.
/* ========================================================================== */

.sidebar {
    width: 22.2%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: white;
    border-right: 1px solid var(--border-color);

    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebar img[src$="svg"] {
    width: 1.2rem;
}

.sidebar .title {
    padding: 16px 0 8px 16px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.links.top {
    padding: 16px 0 16px 0;

    border-bottom: 1px solid var(--border-color);
}

.links.bottom {
    padding: 16px 0 16px 0;

    border-bottom: 1px solid var(--border-color);
}

.links li,
.logout li {
    padding-left: 16px;
}

.links a,
.logout a {
    padding: 8px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar li:hover,
.logout li:hover {
    background-color: var(--main-bg-color-dark);
}

.logout {
    padding: 16px 0 16px 0;
}

/* ========================================================================== */
/* Selectors for the main body of the page start here.
/* ========================================================================== */

.main {
    background-color: var(--main-bg-color);

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* Selectors for the heading start here. */

.heading {
    padding: 16px;

    border-bottom: 1px solid var(--border-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Selectors for the left side of the heading start here. */

.heading .left {
    font-size: 1.5rem;

    padding-left: 16px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.heading img[src$="png"] {
    width: 75px;
}

/* Selectors for the right side of the heading start here. */

.heading .right {
    padding-right: 16px;

    display: flex;
    gap: 16px;
}

.heading button {
    padding: 4px 8px;

    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow: var(--box-shadow);

    display: flex;
    align-items: center;
    gap: 4px;
}

.heading button:hover {
    background-color: var(--main-bg-color-dark);
}

.heading img[src$="svg"] {
    width: 1rem;
}

/* Selectors for the "Your Projects" section start here. */

.your-projects {
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects {
    display: flex;
    gap: 32px;
}

.project {
    padding: 16px;

    background-color: white;
    border-left: 8px solid var(--yellow);
    border-radius: 12px;
    box-shadow: var(--box-shadow);

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project .content .icons {
    align-self: flex-end;

    display: flex;
    gap: 8px;
}

/* Selectors for the content after the "Your Projects" section start here. */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr auto;
}

/* Selectors for the "Data" section start here. */

.data {
    padding: 0 0 16px 16px;

    grid-column: 1 / 4;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.data .graph {
    width: 100%;

    border-radius: 12px;
    box-shadow: var(--box-shadow);
}

.data img {
    border-radius: 12px;
}

/* Selectors for the "Top Performance" section start here. */

.top-performance {
    padding: 0 16px 16px 16px;

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.top-performance .content {
    padding: 16px;

    background-color: white;
    border-radius: 12px;
    box-shadow: var(--box-shadow);

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.top-performance .member {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
}

.member .title,
.member > p {
    flex: 1;
}

.member .title > p:last-child {
    font-size: 0.9rem;
}

.progress {
    display: flex;
    align-items: center;
    gap: 16px;
}

.bar {
    width: var(--progress-bar);
    height: 10px;

    position: relative;

    background-color: var(--main-bg-color-dark);
    border-radius: 12px;
}

.percentage {
    height: 10px;

    position: absolute;

    border-radius: 12px;
}

.member.one .percentage {
    width: calc(var(--progress-bar) / 10 * 6.2);

    background-color: var(--yellow);
}

.member.two .percentage {
    width: calc(var(--progress-bar) / 10 * 4.3);
    
    background-color: var(--red);
}

.member.three .percentage {
    width: calc(var(--progress-bar) / 10 * 8.1);

    background-color: var(--green);
}

/* Selectors for the "Add" sections start here. */

.add.left,
.add.right {
    text-align: center;

    background-color: white;
    border-radius: 12px;
    box-shadow: var(--box-shadow);

    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.add.left {
    margin: 44px 8px 16px 0;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.add.right {
    margin: 44px 0 16px 8px;

    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

/* Selectors for the "Stats" section start here. */

.stats {
    padding: 0 16px 16px 16px;

    grid-column: 4 / 5;
    grid-row: 1 / 3;
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stats .content {
    padding: 32px 16px 16px 16px;
    
    background-color: white;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex: 1;
}

/* Selectors for the select element start here. */

.stats select {
    padding: 4px 8px;

    background-color: #ffffff;
    border-radius: 4px;

    align-self: flex-start;
}

/* Selectors for the pie chart start here. */

.stats .graph {
    padding-bottom: 32px;

    border-bottom: 1px solid var(--border-color);
}

.stats img[src$="svg"] {
    width: 1rem;
}

.pie {
    width: 225px;
    height: 225px;

    background-image: conic-gradient(
        var(--red) 70deg, 
        var(--blue) 0 235deg, 
        var(--yellow) 0
    );
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    width: 112.5px;
    height: 112.5px;

    background-color: white;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Selectors for the legend of the pie chart start here. */

.stats .legend {
    width: 100%;

    padding: 0 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.red,
.blue,
.yellow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legend .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.red .color {
    width: 15px;
    height: 15px;

    background-color: var(--red);
}

.blue .color {
    width: 15px;
    height: 15px;

    background-color: var(--blue);
}

.yellow .color {
    width: 15px;
    height: 15px;

    background-color: var(--yellow);
}

/* Selectors for the footer start here. */

.footer a {
    font-size: 1rem;
}