/* 
Color reference:

    Pink
    #F27281

    Blue
    #ABDFEB

    Yellow
    #F7D88B

    Orange
    #E6BD80

    Brown
    #BF937D

    White
    #EAEBEB

    Black
    #454C59
*/

a {
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    padding: 4px 8px;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

img[src$="png"] {
    width: 60px;
}

img[src*="leaf"] {
    width: 45px;
}

.bird, .chicken, .bee, .bear {
    border-radius: 50%;
}

.bird {
    background-color: #f1d6df;
}

.chicken {
    background-color: #eac8bc;
}

.bee {
    background-color: #f0e8d1;
}

.bear {
    background-color: #f6e9da;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr auto;
}

/* ========================================================================== */
/* Selectors for the header start here.
/* ========================================================================== */

.header {
    padding: 8px 0;

    position: sticky;
    top: 0;

    background-color: white;
    border-bottom: 1px solid #d3d3d3;

    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img[src$="png"] {
    padding: 12px;
}

/* Selectors for the left side of the header start here. */

.header .left {
    padding-left: 16px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.header .left img[src$="svg"] {
    width: 35px;
}

/* Selectors for the right side of the header start here. */

.header .right {
    padding-right: 16px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.header .search,
.header .alerts,
.header .profile {
    display: flex;
    gap: 8px;
}

.header .right input {
    padding-left: 8px;
    
    background-color: #f1f1f1;
    border: none;
    border-radius: 32px;
}

/* ========================================================================== */
/* Selectors for the sidebar start here.
/* ========================================================================== */

.sidebar {
    width: 22.2%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: white;
    border-right: 1px solid #d3d3d3;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebar img[src$="svg"] {
    width: 1.2rem;
}

.sidebar .title {
    padding: 16px 0 8px 16px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.links.top {
    padding: 16px 0 16px 0;

    border-bottom: 1px solid #d3d3d3;
}

.links.bottom {
    padding: 16px 0 16px 0;

    border-bottom: 1px solid #d3d3d3;
}

.links li,
.logout li {
    padding-left: 16px;
}

.links a,
.logout a {
    padding: 8px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar li:hover,
.logout li:hover {
    background-color: #f1f1f1;
}

.logout {
    padding: 16px 0 16px 0;
}

/* ========================================================================== */
/* Selectors for the main body of the page start here.
/* ========================================================================== */

.main {
    background-color: #f6f6f6;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* Selectors for the heading start here. */

.heading {
    padding: 16px;

    border-bottom: 1px solid #d3d3d3;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Selectors for the left side of the heading start here. */

.heading .left {
    font-size: 1.5rem;

    padding-left: 16px;

    display: flex;
    align-items: center;
    gap: 16px;
}

.heading img[src$="png"] {
    width: 75px;
}

/* Selectors for the right side of the heading start here. */

.heading .right {
    padding-right: 16px;

    display: flex;
    gap: 16px;
}

.heading button {
    padding: 4px 8px;

    background-color: #ffffff;
    border: none;
    border-radius: 12px;
    box-shadow: 2px 2px 5px #dbdbdb, -2px 2px 5px #dbdbdb;

    display: flex;
    gap: 4px;
}

.heading button:hover {
    background-color: #dbdbdb;
}

/* Selectors for the "Your Projects" section start here. */

.your-projects {
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projects {
    display: flex;
    gap: 32px;
}

.project {
    padding: 16px;

    background-color: white;
    border-left: 8px solid #F7D88B;
    border-radius: 12px;
    box-shadow: 2px 3px 5px #dbdbdb, -2px 3px 5px #dbdbdb;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project .content .icons {
    align-self: flex-end;

    display: flex;
    gap: 8px;
}